html,body{
    margin: 0;
}

p {
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
}

.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
.container {
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #F4F4F4;
}

.destrosa {
    background-color: #FDDEAF
}

.destblu {
    background-color: #B1C9E4;
}

/*Menu*/

#logo {
    background-color: white;
    color: #FAAC38;
    position: fixed;
    font-size: 20px;
    width: 100%;
}

 #menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 1%;
    background-color:rgba(100, 148, 237, 0);
 }

 li{
    float:left;
    padding: 20 10 20 10;
    text-decoration-line: none; 
    text-decoration: none;
 }

 li:hover{
     background-color:#f4f4f4;
 }
​​​​
#logo{
    background-color: cornflowerblue;
    float: left;
}
/* Seção 1    Video  | Empatia e mão na massa */
.section1 {
    display: flex;
    padding: 3%;
    float: left;
    clear: both;
}

#diventrevista {
    margin: 5px;
    padding-top: 5px;
    padding-right: 10px;
}

.colempatia {
    margin: 5px;
    padding: 0
}

#t2 {
    padding-bottom: 20px;
    padding-top: 40px;
}

/* Seção 2    Foto  | Texto | Foto  */
.section2 {
    padding:35px;
}

#divimagemhomem {
    float: left;
    margin: 5px;
    padding-left: 30px;
    padding-top: 20px;
    width: 30%;
}
#divpq {
    width: 30%;
    float: left;
}

#divimagemmesa {    
    width: 30%;
    padding: 3%;
    float:left;
}

/* Seção 3     Vídeo manifesto  */
.section3 {
    display: contents;
    background-color: #EBF5EE;
    float: left;
}

.mnf {
    padding: 10% 25% 5% 30%;
    display: block;
}


/* Seção 4     Texto  | Vídeo  */
.section4 {
    padding: 50px;
    margin: 5px;
}

.metas1 {
    width: 40%;
    padding:67.4px;
    float:left;
}
.metas2 {
    padding:67.4px;
}


/* Seção 5      Texto  -  Vídeo  */
.section5 {
    float: left;
}
.agr1 {
    padding: 20px;
}

.agr2 {
    float: left;
    padding: 5%;
}

.acao {
    color: white;
    background-color: #db5353;
    border: 1px #c27777 solid;
    padding: 10px;
    text-decoration-line: none;
}
/* Sobre mim */
.section6 {
    float: left;
    background-color: #2EA0DA
}
.sobre {
    padding: 20px;
}


/* Rodapé */
.containerleft {
    float: left;
    background-color: #C7A5D9;
    padding: 0 5%;
    position: relative;
}
#rodape {
    color: white;
}
.espaco {
    padding: 10px;
}
.dois {
    width: 40%;
}
.acaotransp {
    color: white;
    background-color: #C7A5D9;
    padding: 10px;
    text-decoration-line: none;
}
.branco {
    color: white;
}
.espac {
    padding: 5px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .section1, .section2, .section3, .section4 {
        display: block;
        width: 100%;
        float: none;
    }
    .colempatia {
        transform: translate(-20%, -20%);
    }
    #container {
        display: block;
        float: none;
        width: 80%;
    }
    .section4 {

    }
}